* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: red; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

/* Menu section */
.section-menu {
    margin: 84px 0 0 48px;
}
.section-header {
    margin: 11px 0 11px 0;
    width: calc(100vw - 96px);
}
.menu-container {
    margin: 0 0 30px 0;
    height: 468px;
}
.menu-entry {
    list-style-type: none;
    float: left;
    width: calc((100vw - 102px) / 3);
    padding: 0 12px 0 0;
    position: relative;
}
.menu-entry img {
    width: calc((100vw - 102px) / 3);
    padding: 0 12px 0 0;
}

/* Carousel section */
.section-gallery {
    margin: 132px 0 0 48px;
}
.carousel-header {
    margin: 11px 0 11px 0;
    width: calc(100vw - 96px);
    display: flex;
}
.carousel-header h2 {
    flex: 2
}
.button-menu {
    display: flex;
}
.button {
    height: 48px;
    width: 48px;
    border-radius: 24px;

    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.carousel-container {
    display: flex;
    position:relative;

    overflow-x: auto;
    overflow-y: hidden;
}

li.carousel-entry {
    list-style-type: none;
    float: left;
    width: calc((100vw - 102px) / 3);
    padding: 0 12px 0 0;
}

.carousel-entry img {
    width: calc((100vw - 102px) / 3);
    padding: 0 12px 0 0;
}

/* Stories section */
.section-stories {
    margin: 48px 0 0 48px;

}
.stories-container {
    /* width: calc(100vw - 96px); */

    
}
.stories-header {
    margin: 11px 0 24px 0;
    width: calc(100vw - 96px);
}
.stories-entry {
    list-style-type: none;
    float: left;
    width: calc((100vw - 108px) / 2);
    height: 300px;
    margin: 0 12px 0 0;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position:center;
    position: relative;
}
.label {
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    color: #111;

}
.headline {
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    width: calc((100vw - 108px) / 2 - 150px);
    color: white;
}